@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.snowfall {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.snowflake {
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: snowfall linear infinite;
  pointer-events: none;
}

@keyframes snowfall {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(100vh);
  }
}